.dashboard-container {
    width: 100%;
    height: 100%;
}

.nav-container {
    position: sticky;
    width: 100%;
    top: 0;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);;
    z-index: 1000;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}

.nav-container.scrolled {
  background-color: rgba(14, 26, 75, 0.165);
}

.nav-logo-container {
        width: 60px;
    margin-left: 10px;
}

.nav-buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}

.nav-button {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 19px;
    border: none;
    background: none;
    font-weight: 600;
    font-family: 'Roboto mono';
    margin: 1%;
    cursor: pointer;
}

.nav-button::before {
    margin-left: auto;
}

.nav-button::after, .nav-button::before{
content: '';
  width: 0%;
  height: 2px;
  background: #ff2d1e;
  display: block;
  transition: 0.5s;
}

.nav-button:hover::after, .nav-button:hover::before{
    width: 100%;
}

.dashboard-content-container{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: auto;
    margin: 20%;
    margin-top: 6%;
    top: 80px;
    overflow-x: auto;

    align-items: center;
    justify-content: center;

}

.content-titles-margin{
    margin: 0;
}

.content-titles-style-h1 {
    font-size: 25px;
    color: #FF3F3F;
    font-family: "Poppins",Sans-serif
}



.content-subtitle-style{
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.dasboard-title-Container{
    display: flex;
    justify-content: center;
    margin-top: 200px;
    width: 100%;
    height: auto;
}

.stayle-title-separador{
    margin: 100px;
    font-size: 75px;
    margin: 0;
}

.experience-container{
    height: 100%;
    width: 100%;
    margin: 0;
    margin-top: 1%;
    display: flex;
    justify-content: center;
}

.card {
    position: relative;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    margin: 1%;
  }
  
  .card img {
    width: 100%;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card:hover {
    transform: rotate(-5deg) scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .card__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }
  
  .card__title {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
  }
  
  .card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
  }
  
  .card:hover svg {
    scale: 0;
    transform: rotate(-45deg);
  }

  .container-work{
    margin: 19%;
    margin-top: 1%;
    height: auto;
    display: flex;
    gap: 10px;
    gap: 10px 20px; /* row-gap column gap */
    row-gap: 10px;
    column-gap: 20px;
  }

  /*Diseño de los projects**/
  .card-project-container {
    position: relative;
    width: 400px;
    height: 300px;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin: 3%;
  }
  
  .card-project-container img {
    width: 100%;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card-project-container:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }
  
  .card__content-project {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card-project-container:hover .card__content-project {
    transform: rotateX(0deg);
  }
  
  .card__title-project {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
  }
  
  .card-project-container:hover img {
    scale: 0;
  }
  
  .card__description-project {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
  }
  

  /*footer*/
  .footer-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: black;
    height: 400px;
    align-items: center;
    justify-content: space-between;
  }

  .container-form{
    display: flex;
    background-color: white;
    width: 500px;
    height: 300px;
    margin: 10%;

}

.form-container{
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  color: black;
}

.form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 190px;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #000000 solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #000000;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: lightblue;
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  color: #000000;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus+label span,
.form-control input:valid+label span {
  color: lightblue;
  transform: translateY(-30px);
}

button{
  height: 200px;
  width: 200px;
  background-color: red;
}

section{
  margin-top: 0;
}